<h1>Create Cocktail</h1>

<form action="/cocktails" method="post">
  <br>
  <div>
    <label for="name">Name</label>
    <input type="text" name="cocktail[name]" id="name" value="<%= @cocktail.name %>">
  </div>
  <br>
  <div>
    <label for="base_liquor">Base Liquor</label>
    <input type="text" name="cocktail[base_liquor]" id="base_liquor" value="<%= @cocktail.base_liquor %>">
  </div>
  <br>
  <div>
    <label for="ingredients">Ingredients</label>
    <input type="text" name="cocktail[ingredients]" id="ingredients" value="<%= @cocktail.ingredients %>">
  </div>
  <br>

  <br>
  <input type="submit" value="Create Cocktail">
</form>