<h1>Create Account</h1>
<form action="/signup" method="post">
<br>
  <div class="input-field">
  <label for="username">Username:</label>
  <input type="text" name="user[username]" id="username">
  </div>
  <br>
  <div class="input-field">
    <label for="password">Password:</label>
    <input type="password" name="user[password]" id="password">
  </div>
<br>
  <button type="submit" class="btn waves-effect waves-light">
    Create Account
    
  </button>
</form>